@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;

}



body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 25px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .topo-esquerda,
  .topo-direita {
    display: flex;
    align-items: center;
  }
  
  .topo-esquerda {
    justify-content: flex-start;
  }
  
  .topo-direita {
    justify-content: flex-end;
  }
  
  .logo {
    transition: transform .2s;
    width: auto;
    height: 2.5rem;
    margin-right: 0%; /* posicao logo */
    margin-top: 0%;
    position: fixed;
    z-index: 9999;
  }

  .logo:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
  .so-far {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 250px;
    cursor: pointer;
    text-decoration: none;
  }
    
  .contact,
  .know-me {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
  }
  
  .contact {
    margin-right: 250px; /* posicao contact */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
  }
  
  .projectsir {
    margin: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  .know-me {
    margin-left: 0px;
  }
  
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #0900ae; /* Alterado para a cor #0900ae */
  }
  
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .mobile-menu a {
    color: #0900ae; /* Alterado para a cor #0900ae */
    padding: 15px;
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .mobile-menu .projectsir {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
  
  
    justify-content: center;
    text-align: center;
  }
  
  .mobile-menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  

.animacao-tudo {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5vw;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
}

.animacao-tudo img {
    display: block;
    width: 60%;
}

.quadrado {
    position: absolute;
    margin-top: 51.5%;
    left: 0%;
    width: 100%;
    height: 2vw;
    background-color: #f5f5f5;
}

.quadrado2 {
    position: absolute;
    margin-top: 0%;
    left: 79.5%;
    width: 2vw;
    height: 108%;
    background-color: #f5f5f5;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 27px;
    height: 6%;
    width: 96%;
    padding-left: 2%;
}

.nota {
  margin: 0;
  padding: 0;
  height: 96vh;
  text-align: center;
  z-index: -1;
}

.projects {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.socials {
    margin: 0;
    font-size: 1rem;
    transition: transform .2s;
    font-weight: 400;
    cursor: pointer;
}

.socials:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.no-underline {
    text-decoration: none;
    color: inherit; /* cor texto socials */
}

.linkedin2 {
  transition: transform .2s;
    position: absolute;
    bottom: 55px;
    right: 57px;
    align-items: center;
    height: 3%;
    width: 2%;
    padding-left: 0%;
    padding-right: 0%;
    isolation: isolate;
    z-index: 10;
}

.linkedin {
    font-size: 1rem;
    font-weight: 400;
    text-align: end;
    isolation: isolate;
    margin-top: 0px;
    margin-bottom: 0px;
}

.linkedin2:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.behance2 {
  transition: transform .2s;
    position: absolute;
    bottom: 86px;
    right: 65px;
    align-items: center;
    height: 4%;
    width: 2%;
    padding-left: 0%;
    padding-right: 0%;
    isolation: isolate;
    z-index: 10;
}

.behance {
    font-size: 1rem;
    font-weight: 400;
    text-align: end;
    isolation: isolate;
    margin-top: 0px;
    margin-bottom: 0px;
}

.behance2:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.about {
    position: relative;
    margin-top: 10vw;
}

h2 {
    font-size: 4.5vw;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

h3 {
    font-size: 2vw;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-left: 10%;
}

h4 {
    font-size: 4vw;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 25%;
}

.curriculum {
    position: relative;
    width: 100%;
    height: 7vw; /* Distancia a que começam os projetos */
}

.codigo {
    width: 7vw;
    height: auto;
    position: absolute;
    left: 71%;
    top: -7.5vw;
    transform: translateX(-50%);
    cursor: pointer;
}

.textocodigo {
    font-size: 0.8vw;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 18vw;
  }
  
  .about-me-box {
    padding: 1vw;
    cursor: pointer;
    width: 30vw;
    max-width: 80%;
    height: 14vw;
    overflow: hidden;
    position: relative;
    right: 7vw;
  }

  
  .about-me-box.expanded {
    width: 50vw;
    max-width: 90vw;
    height: auto;
    cursor: default;
  }
  
  #about-me-text {
    font-size: 0.7vw;
    font-weight: 400;
    color: #0900ae;
  }
  
  .about-me-box.expanded #about-me-text {
    font-size: 0.8vw;
    font-weight: 400;
  }  

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 250%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    padding: 5vw 7vw 7vw 7vw;
    width: 95%;
    box-sizing: border-box;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 4vw; /* Espaço entre os projetos */
    width: 30%; /* Largura igual para todas as colunas */
}

.project img {
    width: 100%;
    height: auto;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

h1, h2, h3, h4, h5, h6 {
    color: #0900ae;
}

footer {
  background-color: #ececec;
  color: #0900ae;
  padding: 20px;
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  font-size: 13px;
}


.footer-left p {
  margin: 10px
}

.footer-center, .footer-right {
  text-align: center;
  font-size: 13px;
}

.footer-center h3, .footer-right h3 {
  margin-bottom: 20px;
}

.footer-center p, .footer-right p {
  margin: 5px 0;
}

.footer-right a {
  color: #0900ae;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light;
    }
  }

  @media (max-width: 1144px) {
    .topo-direita {
      display: none;
    }
  
    .so-far {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .mobile-menu.active {
      display: flex;
    }
  
    .mobile-menu .contact {
      margin-right: 0;
      margin-left: 0;
    }
  
    .mobile-menu .know-me {
      text-align: center;
    }

    .animacao-tudo video {
        width: 100%;
    }


    .container {
      flex-direction: column;
      align-items: center;
      gap: 12vw; /* Ajuste o espaçamento entre as colunas no modo mobile, se necessário */
  }

  .column {
      width: 90%;
      gap: 12vw; /* Coloca cada coluna para ocupar 100% da largura no modo mobile */
  }

  .project {
      width: 90%; /* Ajusta a largura dos projetos para uma aparência mais compacta no modo mobile */
  }


  #texto-exclusivo {
    position: absolute;
    bottom: 0px;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar corretamente */
    font-size: 1.1rem;
    color:#0900ae;
    padding: 10px 0px;
    border-radius: 8px;
}
}

@media (min-width: 1145px) {
  #texto-exclusivo {
      display: none; /* Oculta o texto */
  }
}

@media (max-width: 768px) {
    .conteudosomany, .conteudoadidas, .conteudomedia, .conteudobreathing,
    .conteudologo, .conteudorolling, .conteudozermatt, .conteudorelogio, .conteudocc {
        width: 90%;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        padding: 20px;
    }

    .bodysomany p, .descricaosomany p,
    .descricaoadidas p, .descricaomedia p,
    .descricaobreathing p, .descricaologo p,
    .descricaorolling p, .descricaozermatt p,
    .descricaorelogio p, .descricaocc p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }

    .bodysomany img, .imagenssomany img,
    .imagensadidas img, .imagensmedia img,
    .imagensbreathing img, .imagenslogo img,
    .imagensrolling img, .imagenszermatt img,
    .imagensrelogio img, .imagenscc img {
        width: 100%;
        height: auto;
    }

    .videosadidas video, .videossomany video,
    .videoscc video {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }

    .column {
        width: 100%;
    }

    .project img {
        width: 100%;
        height: auto;
    }
}


